@import 'variables';
@import 'mediaqueries';

body { 
    overflow-x: hidden;
    background: $lightgrey;
}

ul {list-style-type: none;}

a {
    text-decoration: none;
    color:white;

    &:visited {color:white;}
}

.hide {display: none !important;}
.show {display: block !important;}
.show-flex {display: flex !important;}

.scroll-y {overflow-y: visible;}
.noscroll-y{overflow-y:hidden;}

/* MEDIAQUERIES *****************************************/
@include mobile {
    body {
        padding: 0;
        margin: 0;
    }
}