@import 'variables';

header {
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
}

.topnav {
    width: 100%;
    background: $red;
    min-height: 100px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    text-transform: uppercase;

    #logo {
        align-self: flex-start;
        margin-right: auto;
        margin-left: 5px;

        img {
        max-height: 95px;
        }
    }
    ul {       
        display: flex;
        align-content: center;

        a {
            padding: 20px 15px 0 10px;
            color: white;
            text-decoration: none;
            font-size: 16pt;
            transition: all .2s ease-in-out;

            &:hover {
                font-size: 18pt;
                color: $lightgrey;
            }
        }
        li {
            display: inline-block;
        }
    }
}

.navbanner {
    width: 100%;
    min-height: 200px;

    img {
        width: 100%;
    }
}

.botnav {
    width: 100%;
    background: $red;
    min-height: 100px;
    margin-bottom: 10px;
    text-transform: uppercase;

    ul {       
        position: relative;
        float: left;
        display: flex;
        align-content: center;
        width: 100%;
        padding: 0;

        a {
            padding: 22px 20px 20px 20px;
            color: white;
            text-decoration: none;
            font-size: 16pt;

            &:last-of-type {
                position: absolute;
                right: 0;
            }
        }
        li {
            display: inline-block;
        }
    }
}
