@import 'variables';

header {
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
}

.topnav, {
    width: 100%;
    background: $red;
    min-height: 100px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    text-transform: uppercase;

    #logo {
        align-self: flex-start;
        margin-right: auto;
        margin-left: 5px;
        img {
        max-height: 95px;
        }
    }
    ul {       
        display: flex;
        align-content: center;
        a {
            padding: 20px 15px 0 10px;
            color: white;
            text-decoration: none;
        }
        li {
            display: inline-block;
        }
    }
}

.navbanner {
    width: 100%;
    min-height: 200px;

    img {
        width: 100%;
    }
}

.botnav {
    width: 100%;
    background: $red;
    min-height: 100px;
    margin-bottom: 10px;
    text-transform: uppercase;

    ul {       
        position: relative;
        display: flex;
        float: left;
        align-content: center;
        a {
            padding: 20px 15px 0 10px;
            color: white;
            text-decoration: none;
        }
        li {
            display: inline-block;
        }
    }
}
