// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red: #f25457;
$darkred: #f92c30;
$lightgrey: #ededed;
$darkgrey: #6b6b6b;
