@import 'variables';
@import 'header';
@import 'footer';

.container {
    width: 80%;
    margin: 0 auto;
}

.tilecontainer {
    width: 100%;
    min-width: 300px;
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .movie {
        width: 20%;
        min-width: 140px;
        padding: 25px 25px 0 25px;

        &:last-of-type {
            padding-bottom: 50px;
        }

        img {
            width: 100%;
            height: auto;
        }

        ul {
            padding-left: 55px;
            position: relative;
            margin-top: -44px;

            a {
                color: black;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $red;
                }
            }

            li {
                padding: 5px 0;
            }
        }
    }
}

.banner {
    width: 100%;
    min-height: 200px;
    padding-bottom: 10px;
    
    img {
        width: 100%;
    }
}

/* UPCOMING MOVIE **************************************************/
.upcomingcontainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .upcomingmovie {
        width: 30%;
        
        img {
            width: 100%;
        }
    }
}

@include mobile {
    .upcomingcontainer {
        flex-direction: column;
        justify-content: center;
        
        .upcomingmovie {
            width: 75%;
            margin: 0 auto;
            margin-bottom: 50px;

            img {
                width: 90%;
                display: flex;
                margin: 0 auto;
            }

            p:first-of-type {
                border-top: solid 1px $red;
            }
        }
    }
}

/* SCHEDULE **************************************************/

@include mobile {
    .movie {        
        ul {
            float:right;
        }
    }
}
