body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.show-flex {
  display: flex !important;
}

.scroll-y {
  overflow-y: visible;
}

.noscroll-y {
  overflow-y: hidden;
}

header {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}

.topnav {
  width: 100%;
  background: #f25457;
  min-height: 100px;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  text-transform: uppercase;
}

.topnav #logo {
  align-self: flex-start;
  margin-right: auto;
  margin-left: 5px;
}

.topnav #logo a {
  padding: 0;
  font-size: 15pt;
}

.topnav #logo a:hover {
  font-size: 15pt;
}

.topnav #logo img {
  max-height: 95px;
}

.topnav a {
  padding: 35px 15px 0 10px;
  color: white;
  text-decoration: none;
  font-size: 15pt;
  transition: all 0.2s ease-in-out;
}

.topnav a:hover {
  font-size: 18pt;
  color: #ededed;
}

.topnav ul {
  display: flex;
  align-content: center;
  padding-left: 0;
}

.topnav ul a {
  padding-top: 20px;
}

.topnav ul a:hover {
  font-size: 18pt;
  color: #ededed;
}

.topnav ul li {
  display: inline-block;
}

.navbanner {
  width: 100%;
  min-height: 200px;
}

.navbanner img {
  width: 100%;
}

.botnav {
  width: 100%;
  background: #f25457;
  min-height: 100px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.botnav ul {
  position: relative;
  float: left;
  display: flex;
  align-content: center;
  width: 100%;
  padding: 0;
}

.botnav ul a {
  padding: 22px 0px 20px 15px;
  color: white;
  text-decoration: none;
  font-size: 14pt;
}

.botnav ul a:nth-of-type(2) {
  padding-right: 20px;
}

.botnav ul a:last-of-type {
  position: absolute;
  padding-right: 15px;
  right: 0;
}

.botnav ul li {
  display: inline-block;
}

/* MEDIAQUERIES *****************************************/

@media screen and (max-width: 1020px) {
  .topnav {
    overflow: hidden;
  }

  .topnav ul {
    display: none;
    overflow-y: hidden;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 90px;
    background-color: #f25457;
  }

  .topnav ul a {
    padding: 0;
    font-size: 1.8rem;
    transition: 0.3s ease-in-out;
  }

  .topnav ul a:hover {
    background-color: #ededed;
    color: #f25457;
  }

  .topnav ul li {
    text-align: center;
    width: 100%;
    padding: 30px;
  }

  .topnav .hamburger {
    padding: 25px;
    padding-left: 15px;
  }

  .topnav .hamburger .bar1,
  .topnav .hamburger .bar2,
  .topnav .hamburger .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .topnav .hamburger.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .topnav .hamburger.open .bar2 {
    opacity: 0;
  }

  .topnav .hamburger.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .botnav ul a.day {
    display: none;
  }
}

footer {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

